<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOM Visor</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="bar">
        <div id="logoBar">
            <img id="logo" src="../static/images/OOM_Logo.png" alt="Descrição da imagem">
            <br id="logoText">Observatório Oceânico da Madeira
        </div>
        <div id="buttonsBar">
            <button class="buttons">Air temperature (2m)</button>
            <button class="buttons">Wind (10 m)</button>
            <button class="buttons">Precipitation</button>
        </div>
    </div>
    <div id="map"></div>
    <div id="bottomBar">
        <div id="buttonsDiv">
            <button class="buttons">
                <img src="../static/images/angle-circle-arrow-left-icon.svg" alt="Descrição do ícone"
                    style="width: 30px; height: 30px;">
            </button>
            <button class="buttons">
                <img src="../static/images/red-play-button-icon.svg" alt="Descrição do ícone"
                    style="width: 30px; height: 30px;">
            </button>
            <button class="buttons">
                <img src="../static/images/angle-circle-arrow-right-icon.svg" alt="Descrição do ícone"
                    style="width: 30px; height: 30px;">
            </button>
        </div>
        <div id="timeDiv">
            <span id="time">00:00</span>
            <input type="range" id="timeSlider" min="0" max="72" step="1" value="0">
        </div>
    </div>
    <script src="../static/js/map.js"></script>
</body>

</html>